form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.crypto-value {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  position: absolute;
  top: 50%; /* 50% from the top */
  right: -40px;
  transform: translate(-50%, -40%);
}

.fiat-value {
  position: absolute;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

input[type="text"] {
  letter-spacing: 0.2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.crypto-value {
  position: relative;
}

.quantity-crypto,
.search-crypto {
  background-color: inherit;
  border: 5px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  width: 350px;
  font-size: clamp(2.5rem, 0.625rem + 5vw, 3.125rem);
  padding-left: 0.5em;
}

.quantity-crypto:focus,
.search-crypto:focus {
  outline: none;
}

.search-crypto::placeholder {
  color: #ffffff;
}

.select-crypto {
  background-color: inherit;
  border: 5px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  width: 380px;
  font-size: 1.5rem;
  padding: 0.2em 0.5em;
  appearance: none;
}

.select-crypto:focus {
  outline: none;
}

.select-crypto option {
  color: #0037ff;
}

.custom-arrow-crypto {
  position: absolute;
  bottom: 1px;
  right: 10px;
  display: block;
  width: 2em;
  height: 25%;
  pointer-events: none;
}

.custom-arrow-crypto::before,
.custom-arrow-crypto::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow-crypto::before {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid #ffffff;
  top: 25%;
}

.custom-arrow-crypto::after {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid #ffffff;
  top: 70%;
}

.switch-btn {
  color: #0037ff;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 10px;
  margin: 2em;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.35);
}

.price-crypto,
.search-fiat {
  background-color: inherit;
  border: 5px solid #0037ff;
  border-radius: 25px;
  color: #0037ff;
  width: 350px;
  font-size: clamp(2.5rem, 0.625rem + 5vw, 3.125rem);
  padding-left: 0.5em;
}

.price-crypto:focus {
  outline: none;
}

.search-fiat::placeholder {
  color: #0037ff;
}

.search-fiat:focus {
  outline: none;
}

.select-fiat {
  background-color: inherit;
  border: 5px solid #0037ff;
  border-radius: 25px;
  color: #0037ff;
  width: 380px;
  font-size: 1.5rem;
  padding: 0.2em 0.5em;
  appearance: none;
}

.select-fiat:focus {
  outline: none;
}

.custom-arrow-fiat {
  display: block;
  width: 2em;
  height: 25%;
  position: absolute;
  bottom: 5px;
  right: 0;
  pointer-events: none;
}

.custom-arrow-fiat::before,
.custom-arrow-fiat::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.custom-arrow-fiat::before {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid #0037ff;
  top: 25%;
}

.custom-arrow-fiat::after {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid #0037ff;
  top: 70%;
}
