<form>
  <div class="crypto-value">
    <input
      type="number"
      name="cryptoQuantity"
      [value]="cryptoQuantity"
      (input)="onQuantityChange($event)"
      class="quantity-crypto"
    />
    <input
      type="text"
      placeholder="Search crypto..."
      [(ngModel)]="searchCryptoTerm"
      name="searchCryptoTerm"
      (input)="onSearchTermChange()"
      class="search-crypto"
    />
    <select (click)="onCryptoChange($event)" class="select-crypto">
      @if(errorMessage) {
      <option>
        {{ errorMessage }}
      </option>
      } @else {
      <ng-container>
        @for(crypto of filteredCryptos(); track $index) {
        <option [value]="crypto.symbol">
          {{ crypto.symbol }} - {{ crypto.name }}
        </option>
        }
      </ng-container>
      }
    </select>
  </div>
  <div class="btn">
    <button class="switch-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-transfer-down"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M17 3v6" />
        <path d="M10 18l-3 3l-3 -3" />
        <path d="M7 21v-18" />
        <path d="M20 6l-3 -3l-3 3" />
        <path d="M17 21v-2" />
        <path d="M17 15v-2" />
      </svg>
    </button>
  </div>
  <div class="fiat-value">
    <input
      type="text"
      name="calculatedPrice"
      [value]="calculatedPrice | number : '1.2-2'"
      (input)="onPriceChange($event)"
      class="price-crypto"
    />
    <input
      type="text"
      name="searchFiat"
      placeholder="Search fiat..."
      [(ngModel)]="searchFiatTerm"
      name="searchFiat"
      (input)="onSearchFiatChange()"
      class="search-fiat"
    />
    <select (click)="onFiatChange($event)" class="select-fiat">
      <option *ngIf="errorFiatMessage">{{ errorFiatMessage }}</option>
      <ng-container *ngIf="!errorFiatMessage">
        <option *ngFor="let fiat of filteredFiats" [value]="fiat.symbol">
          {{ fiat.symbol }} - {{ fiat.name }}
        </option>
      </ng-container>
    </select>
  </div>
</form>
